<div class="title">
  <h1><%= @shop.name %></h1>
  
</div>

<% if logged_in? %>
  <div id="container">
    <div id="map" style="width:100%; height:45vh; margin-bottom: 10px;"></div>
  </div>
  <script>
    var marker=[]
    var infoWindow=[]

    function initMap2() {
      // マップの初期化
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: {lat: 35.6235288, lng: 139.7269575}
      });
      var styleOptions = [{
        featureType: "poi",
        elementType: "labels",
        stylers: [
            { visibility: "off" }
        ]}
    ];
      map.setOptions({styles: styleOptions});
      map.setCenter(new google.maps.LatLng(<%= @shop.latitude %>, <%= @shop.longitude %>));

      var i=0;
      
      <% @shops.each do |shop| %>
      var markerOpts = {
        
        position: new google.maps.LatLng(<%= shop.latitude %>, <%= shop.longitude %>),
        map: map,
        title: i+":<%= shop.name %>"
      };
      // 直前で作成したMarkerOptionsを利用してMarkerを作成
      marker[i] = new google.maps.Marker(markerOpts);

      <% if (@shop.id == shop.id) %>
      
      infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
        content: '<h1><%= link_to shop.name, shop_path(shop) %></h1>'+
                  '<% @newcomment.shop_id = shop.id %>'+
                  '<%= form_for(@newcomment) do |f| %>'+
                  '<div class="form-group"><%= f.label :menu, "メニュー：" %>'+
                  '<%= f.text_field :menu %></div>'+
                  '<div class="form-group"><%= f.label :comment, "コメント：" %>'+
                  '<%= f.text_field :comment %></div>'+
                  '<%= f.hidden_field :shop_id %>'+
                  '<%= f.submit "登録" ,class: "btn btn-warning btn-block" %>'+
                  '<% end %>'+// 吹き出しに表示する内容
                  '<%= link_to 'マーカーを削除', shop_path(shop), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>'
      });      
      infoWindow[i].open(map, marker[i]); // 吹き出しの表示
      <% else %>
        marker[i].setMap(null)
      
      <% end %>
      
      markerEvent(i); // マーカーにクリックイベントを追加
      
      i++;
      <% end %>
      
      // クリックイベントを追加
      map.addListener('click', function(e) {
        getClickLatLng2(e.latLng, map);
      });
      
    }
    // マーカーにクリックイベントを追加
    function markerEvent(i) {
      marker[i].addListener('click', function() { // マーカーをクリックしたとき
          infoWindow.forEach(function(value) {
            if(value) value.close();
          });
          
          if(newshop) newshop.close();
          infoWindow[i].open(map, marker[i]); // 吹き出しの表示
      });
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<% ENV['GMAP_APIKey'] %>&callback=initMap2">
  </script>
<% else %>
  <div class="text-center">
    <div id="hibi"><img src="/images/hibi.png" ></div>
  </div>
<% end %>





<div class="table-responsive">
  <table class="table table-striped">
      <thead>
        <tr class="success">
          <th>ユーザー</th>
          <th>メニュー</th>
          <th>コメント</th>
          <th>日付</th></th>
        </tr>
      </thead>
      <tbody>
        <% @commentlist.each do |cl| %>
          <tr class="active">
            <td><%= link_to @user.find(cl.user_id).name, user_path(@user.find(cl.user_id)) %></td>
            <td><%= cl.menu %></td>
            <td><%= cl.comment %></td>
            <td><%= cl.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  <div>
    <%= paginate @commentlist %>
  </div>
